@using Hospital.ViewModels.TreatmentsViewModels;
@model TreatmentsViewModel
@addTagHelper "*, Hospital"
@{
    ViewData["Title"] = "Лечение";
}

@Html.ActionLink("Create", "CreateTreatment")
<form method="get">
    <div class="form-inline">
        <label class="control-label">Отделение: </label>
        @Html.DropDownList("department", Model.FilterViewModel.Departments as SelectList, htmlAttributes: new { @class = "form-control" })
        <label class="control-label">Диагносис: </label>
        @Html.TextBox("diagnosis", Model.FilterViewModel.SelectDiagnosis, htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Пациент: </label>
        @Html.DropDownList("pacient", Model.FilterViewModel.Pacients as SelectList, htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Доктор: </label>
        @Html.DropDownList("doctor", Model.FilterViewModel.Doctors as SelectList, htmlAttributes: new { @class = "form-control" })
        <label class="control-label">Дата поступления: </label>
        @Html.TextBox("receiptDate", Model.FilterViewModel.SelectedReceiptDate.Date.ToString("yyyy-dd-MM"), htmlAttributes: new { @class = "form-control" })
        <label class="control-label">Дата выписки: </label>
        @Html.TextBox("dischargeDate", Model.FilterViewModel.SelectedDischargeDate.Date.ToString("yyyy-dd-MM"), htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.TreatmentIdSort)"
               asp-route-diagnosis="@(Model.FilterViewModel.SelectDiagnosis)"
               asp-route-department="@(Model.FilterViewModel.SelectedDepartment)"
               asp-route-pacient="@(Model.FilterViewModel.SelectedPacient)"
               asp-route-doctor="@(Model.FilterViewModel.SelectedDoctor)"
               asp-route-receiptDate="@(Model.FilterViewModel.SelectedReceiptDate.Date.ToString("yyyy-dd-MM"))"
               asp-route-dischargeDate="@(Model.FilterViewModel.SelectedDischargeDate.Date.ToString("yyyy-dd-MM"))">@Html.DisplayNameFor(model => model.TreatmentViewModel.TreatmentId)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.DiagnosisSort)"
               asp-route-diagnosis="@(Model.FilterViewModel.SelectDiagnosis)"
               asp-route-department="@(Model.FilterViewModel.SelectedDepartment)"
               asp-route-pacient="@(Model.FilterViewModel.SelectedPacient)"
               asp-route-doctor="@(Model.FilterViewModel.SelectedDoctor)"
               asp-route-receiptDate="@(Model.FilterViewModel.SelectedReceiptDate.Date.ToString("yyyy-dd-MM"))"
               asp-route-dischargeDate="@(Model.FilterViewModel.SelectedDischargeDate.Date.ToString("yyyy-dd-MM"))">@Html.DisplayNameFor(model => model.TreatmentViewModel.Diagnosis)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.NameDepartmentSort)"
               asp-route-diagnosis="@(Model.FilterViewModel.SelectDiagnosis)"
               asp-route-department="@(Model.FilterViewModel.SelectedDepartment)"
               asp-route-pacient="@(Model.FilterViewModel.SelectedPacient)"
               asp-route-doctor="@(Model.FilterViewModel.SelectedDoctor)"
               asp-route-receiptDate="@(Model.FilterViewModel.SelectedReceiptDate.Date.ToString("yyyy-dd-MM"))"
               asp-route-dischargeDate="@(Model.FilterViewModel.SelectedDischargeDate.Date.ToString("yyyy-dd-MM"))">@Html.DisplayNameFor(model => model.TreatmentViewModel.NameDepartment)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.PatientSurnamesSort)"
               asp-route-diagnosis="@(Model.FilterViewModel.SelectDiagnosis)"
               asp-route-department="@(Model.FilterViewModel.SelectedDepartment)"
               asp-route-pacient="@(Model.FilterViewModel.SelectedPacient)"
               asp-route-doctor="@(Model.FilterViewModel.SelectedDoctor)"
               asp-route-receiptDate="@(Model.FilterViewModel.SelectedReceiptDate.Date.ToString("yyyy-dd-MM"))"
               asp-route-dischargeDate="@(Model.FilterViewModel.SelectedDischargeDate.Date.ToString("yyyy-dd-MM"))">@Html.DisplayNameFor(model => model.TreatmentViewModel.PacientSurname)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.DoctorSurnamesSort)"
               asp-route-diagnosis="@(Model.FilterViewModel.SelectDiagnosis)"
               asp-route-department="@(Model.FilterViewModel.SelectedDepartment)"
               asp-route-pacient="@(Model.FilterViewModel.SelectedPacient)"
               asp-route-doctor="@(Model.FilterViewModel.SelectedDoctor)"
               asp-route-receiptDate="@(Model.FilterViewModel.SelectedReceiptDate.Date.ToString("yyyy-dd-MM"))"
               asp-route-dischargeDate="@(Model.FilterViewModel.SelectedDischargeDate.Date.ToString("yyyy-dd-MM"))">@Html.DisplayNameFor(model => model.TreatmentViewModel.DoctorSurname)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.ReceiptDateSort)"
               asp-route-diagnosis="@(Model.FilterViewModel.SelectDiagnosis)"
               asp-route-department="@(Model.FilterViewModel.SelectedDepartment)"
               asp-route-pacient="@(Model.FilterViewModel.SelectedPacient)"
               asp-route-doctor="@(Model.FilterViewModel.SelectedDoctor)"
               asp-route-receiptDate="@(Model.FilterViewModel.SelectedReceiptDate.Date.ToString("yyyy-dd-MM"))"
               asp-route-dischargeDate="@(Model.FilterViewModel.SelectedDischargeDate.Date.ToString("yyyy-dd-MM"))">@Html.DisplayNameFor(model => model.TreatmentViewModel.ReceiptDate)</a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.DischargeDateSort)"
               asp-route-diagnosis="@(Model.FilterViewModel.SelectDiagnosis)"
               asp-route-department="@(Model.FilterViewModel.SelectedDepartment)"
               asp-route-pacient="@(Model.FilterViewModel.SelectedPacient)"
               asp-route-doctor="@(Model.FilterViewModel.SelectedDoctor)"
               asp-route-receiptDate="@(Model.FilterViewModel.SelectedReceiptDate.Date.ToString("yyyy-dd-MM"))"
               asp-route-dischargeDate="@(Model.FilterViewModel.SelectedDischargeDate.Date.ToString("yyyy-dd-MM"))">@Html.DisplayNameFor(model => model.TreatmentViewModel.DischargeDate)</a>
        </th>
    </tr>
    @foreach (var treatment in Model.Treatments)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => treatment.TreatmentId)</td>
        <td>@Html.DisplayFor(modelItem => treatment.Diagnosis)</td>
        <td>@Html.DisplayFor(modelItem => treatment.Department.NameDepartments)</td>
        <td>@Html.DisplayFor(modelItem => treatment.Pacients.PatientSurnames)</td>
        <td>@Html.DisplayFor(modelItem => treatment.Doctors.DoctorSurnames)</td>
        <td>@Html.DisplayFor(modelItem => treatment.ReceiptDate)</td>
        <td>@Html.DisplayFor(modelItem => treatment.DischargeDate)</td>
            <td>
                @Html.ActionLink("Edit", "EditTreatment", new { id = treatment.TreatmentId }, null) |
                @Html.ActionLink("Delete", "DeleteTreatment", new { id = treatment.TreatmentId }, null)
            </td>
    </tr>
    }
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-diagnosis="@(Model.FilterViewModel.SelectDiagnosis)"
           page-url-department="@(Model.FilterViewModel.SelectedDepartment)"
           page-url-pacietn="@(Model.FilterViewModel.SelectedPacient)"
           page-url-doctor="@(Model.FilterViewModel.SelectedDoctor)"
           page-url-receiptDate="@(Model.FilterViewModel.SelectedReceiptDate)"
           page-url-discharge="@(Model.FilterViewModel.SelectedDischargeDate)"
           page-url-categories="@(Model.SortViewModel.Current)"></page-link>